.timer-numero {
  background-color: #5D677C;
  box-shadow: 2px 2px 4px #2B2B2B9F inset;
  height: 3.6rem;
  padding: 8px 4px;
  border-radius: 10px;
  width: 3rem;
}

.timer-divisao {
  height: 4.2rem;
}