.App {
  min-width: 320px;
  width: 100%;
  background-color: #171717;
  padding: 32px;
  box-sizing: border-box;
  min-height: calc(100vh - 32px);
  border-radius: 10px;

  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
    "nova-tarefa"
    "cronometro"
    "tarefas"
  ;
  row-gap: 24px;

  @media screen and (min-width:1280px)  {
    grid-template-areas: 
    "nova-tarefa tarefas"
    "cronometro tarefas"
    ;
    column-gap: 24px;
    grid-template-rows: min-content min-content;
    grid-template-columns: 2fr 1fr;
  }
}